<%= render 'nav' %>

<% if notice != '' %>
<div data-alert class="alert-box success radius">
  <span style="color:#fff; font-size: 12px" id="notice"><%= notice %></span>
  <a href="#" class="close">&times;</a>
</div>
<% end %>

<h3>Issue Details</h3>

<div style="border: 1px solid #090909; padding: 2%">
  <table>
    <thead>
      <tr>
        <td width='120'>Key</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong><h6>GitHub Issue ID</strong></h6></td>
        <td><h6 class="subheader"><%= @issue.id %></h6></td>
      </tr>
      <tr>
        <td><strong><h6>GitHub Repository</strong></h6></td>
        <td><h6 class="subheader"><%= @issue.repo %></h6></td>
      </tr>
      <tr>
        <td><h6><strong>Web URL</strong><h6></td>
        <td><h6 class="subheader"><%= @issue.url %></h6></td>
      </tr>
      <tr>
        <td><h6><strong>Title</strong></h6></td>
        <td><h6 class="subheader"><%= @issue.title %></h6></td>
      </tr>
      <tr>
        <td><h6><strong>Content</strong></h6></td>
        <td><h6 class="subheader"><%= @issue.body %></h6></td>
      </tr>
    </tbody>
  </table>

<% unless (@issue.referrer.nil?) %>
  <table>
    <tbody>
      <tr>
        <td width="180" style="background: rgba(80,80,80,0.1)">
          <h4 style="text-align: left;">Users referred to</h4>
        </td>
        <td>
        <% @issue.referrer.split(',').uniq.each do |ref| %>
          <a class="label large info" style="font-size: 12px; text-align: left; display:inline-block; margin: 2px; 0" href="http://www.github.com/<%= ref %>"><%= ref %></a>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

</div>

<h3>Refer a GitHub user</h3>
<p>
  <h4 class="subheader">Referring an issue adds the issue to the user's suggested issue container, allowing you to recommend issues to people you think are best qualified to work on them.</h4>

  <%= form_for(@issue) do |f| %>
    <div class="field">
      <%= f.label :referrer, style: 'font-size: 10px' %><br>
      <%= f.text_field :referrer, placeholder: 'Enter a GitHub username', value: '', autofocus: true, class: 'referrer_input' %>
    </div>
    <div class="field">
      <%= f.label :notes, style: 'font-size: 24px' %><br>
      <%= f.text_area :notes, placeholder: 'Enter notes for the user here. Maybe a few lines on why they might find this issue interesting?', value: '', class: 'notes_input'%>
    </div>
    <div class="actions">
      <%= f.submit 'Refer issue!', class: 'button small' %>
    </div>
  <% end %>
</p>
