<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GitHub Issue Manager</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init(:google => ['Open Sans']) %>
  </head>

  <body style="padding-left: 5%; padding-right: 5%; font-family: 'Open Sans'; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26px;">

    <%= yield %>

  </body>
</html>
